CREATE TABLE metas (
    meta_id bigint NOT NULL,
    vendedor_id integer NOT NULL,
    mes date NOT NULL,
    valor_meta numeric(10,2) NOT NULL
);

CREATE TABLE produtos (
    produto_id integer NOT NULL,
    nome varchar(100) NOT NULL,
    familia varchar(100) NOT NULL
);

CREATE TABLE vendas (
    venda_id integer NOT NULL,
    vendedor_id integer NOT NULL,
    produto_id integer NOT NULL,
    data_venda date NOT NULL,
    valor_total numeric(10,2) NOT NULL
);

CREATE TABLE vendedores (
    vendedor_id integer NOT NULL,
    nome varchar(100) NOT NULL
);